<mat-card class="m-2">
  <mat-card-header fxLayoutAlign="center">
    <mat-card-title>Friends Pairs Uploader</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Welcome! Drag and drop your file below, or open from your file manager
      to select a valid csv/json file!
    </p>
    <form [formGroup]="fileForm">
      <file-upload
        formControlName="files"
        [multiple]="false"
        [animation]="true"
      ></file-upload>
      <mat-error *ngIf="errorText">{{errorText}}</mat-error>

    </form>
  </mat-card-content>
</mat-card>
